<div class="row">
<div class="register">
    <h2>Register</h2>
    <form [formGroup] = "registerForm">
        
        <div class="form-group">
            <label for="">Email</label>
            <input type="email" class="form-control" formControlName = "email"/>
        </div>
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" formControlName = "name"/>
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" formControlName = "password"/>
        </div>
        <div class="form-group">
            <label for="">Confirm Password</label>
            <input type="password" class="form-control" formControlName = "cpassword"/>
        </div>
        <div class="form-group">
            <button class="btn btn-info" (click) ="register()">Register</button>
            <button class="btn btn-dark"(click)="moveToLogin()">Have an account? <span>Login</span></button>
        </div>
    </form>
</div>
</div>